body{
    background-color: #121b23;
}

.center_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#register_form{
    display: none;
    flex-direction: column;
}
#login_form{
    flex-direction: column;
    display: none;
}

.text-input{
    padding: 10px;
    border-radius: 10px;
    border: #121b23 1.8px solid;
}

#register_form, #login_form{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    animation: zoomin 1s;
}

@keyframes  zoomin {
 0%{
     transform: scaleY(0%);
     filter: motionBlur(1);
 }
    100%{
        transform: scaleY(100%);
        filter: motionBlur(100);
    }
}

@keyframes scaleX {
    0%{
        transition: scaleX;
    }

}



.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
button{
    font-size: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 1s all;
    cursor:pointer;
    width: 200px;
}
button:hover{
    background-color: rgb(192, 192, 192);

}

.submit-button{
    font-size: 30px;
    border-color: #121b23;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    transition: .2s all;
    cursor:pointer;
    width: 200px;

}
.submit-button:hover{
    background-color: #121b23;
    color: white;
}